.info-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #FFFFFF;

  img {
    width: 365px;
    height: 250px;
    border-radius: 15px;
  }

  h3 {
    font-family: "SfPro-SemiBold";
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
    width: 365px;
  }

  p {
    font-family: "SfPro-Light";
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.035em;
    width: 365px;
  }
}

@media (max-width: 1208px) {
  .info-card-container {
    width: 100%;
    max-width: 260px;

    img {
      width: 100%;
      max-width: 259.74px;
      height: 100%;
      max-height: 177.9px;
      border: 10.67px;
    }

    h3 {
      font-size: 12.81px;
      width: 100%;
      max-width: 259.74px;
      line-height: 16.37px;

    }

    p {
      font-size: 12px;
      width: 100%;
      max-width: 259.74px;
      line-height: 16px;
    }
  }
}