.video-section {
  position: relative;
  width: 100%;
  height: 786px;

  > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-container {
    position: absolute;
    z-index: 1;
    bottom: 90px;
    left: 60px;

    > h1 {
      background: linear-gradient(90deg, rgba(169, 164, 243, 1), rgba(251, 251, 248, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 430px;
      font-size: 44px;
      font-family: "SfPro-Light";
      margin-left: 40px;
    }
  }
}

.shop-section {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 75px 0px;

  h2 {
    font-family: "SfPro-Light";
    font-size: 28px; 
    line-height: 36px;
    color:#302C8C;
    margin: 0 auto;
    max-width: 730px;
  }
}

.section2 {
  background-color: #302C8C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 150px 0px;
  gap: 80px;

  > h2 {
    font-family: "SfPro-SemiBold";
    font-size: 40px;
    width: 700px;
    text-align: center;
    line-height: 45px;

    background: linear-gradient(-90deg, #A29AFF, #FFC6BD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  > div {
    display: flex;
    gap: 15px;

    img {
      width: 300px;
      height: 330px;
    }
  }
}

.solutions-section {
  margin: 0 auto;
  width: 100%;
  max-width: 1700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;

  .solutions-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-family: "SfPro-SemiBold";
      font-size: 40px;
      line-height: 50px;

      background: linear-gradient(-90deg, #5345FF, #FF3B1B);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }

    h3 {
      font-family: "SfPro-SemiBold";
      font-size: 20px;
      color: #312C8D;
      line-height: 30px;
    }
  }

  .solutions-images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 120px;
    justify-content: center;
    padding: 80px 0px;
  }
}

.media-section {
  background-color: #151568;

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
    gap: 120px;

    .media-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .media-container:nth-child(even) {
      flex-direction: row-reverse;
    }
  }
}

.fortune-section {
  background-color: #151568;
  padding: 140px 0px;
  
  .fortune-container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    width: 1600px;

    h2 {
      font-family: "SfPro-Regular";
      font-size: 40px;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      margin-bottom: 50px;
    }

    .carousel {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: 40px;

      .carousel-images {
        display: flex;
        gap: 40px;
        overflow: hidden;

        img {
          width: 100px;
          height: 100px;
          object-fit: contain;
          border-radius: 13px;
        }
      }

      .carousel-button {
        background-color: transparent;
        color: #fff;
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
        padding: 0 15px;
      }
    }

    .who-we-work-with {
      background-color: #736DF9;
      border: none;
      border-radius: 5px;
      margin-top: 60px;
      padding: 10px 20px;
      
      font-family: "SfPro-Regular";
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;

      cursor: pointer;
    }
  }
}

.info-section {
  background-color: #151568;
  
  .info-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    padding: 100px 0px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    .info-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      .info-title {
        color: #FFFFFF;
        text-align: center;

        h2 {
          font-family: "SfPro-SemiBold";
          font-size: 40px;
          line-height: 44px;
          letter-spacing: 0.03em;
          margin-bottom: 15px;
        }

        p {
          font-family: "SfPro-Light";
          font-size: 16px;
          line-height: 23px;
          letter-spacing: 0.035em;
        }
      }

      .info-anchor {
        display: flex;
        gap: 15px;

        a {
          padding: 10px 20px;
          border-radius: 20px;
          background-color: #30288F;
          color: #FFFFFF;
          font-family: "SfPro-Light";
          font-size: 12px;
          line-height: 13.8px;
          letter-spacing: 0.05em;
          cursor: pointer;

          &.active {
            background-color: #736DF9;
          }
        }
      }
    }

    .info-card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
    }

    .info-btn {
      display: flex;
      justify-content: center;
      .load-more {
        background-color: #736DF9;
        border: none;
        border-radius: 5px;
        margin-top: 60px;
        padding: 10px 40px;
        
        font-family: "SfPro-Regular";
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
  
        cursor: pointer;
      }
    }
  }
}