.solutions-item {

  .solutions-image-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    > img {
      width: 353px;
      height: 211px;
    }

    .solutions-logo-container {
      display: flex;
      align-items: center;
      gap: 15px;

      h3 {
        font-family: 'SfPro-SemiBold';
        color: #302C8C;
        font-size: 30px;
        width: 210px;
      }
    } 
  }
}