.case-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 365px;

  img {
    width: 100%;
    max-width: 365px;
    height: 203px;
    border-radius: 15px;
  }

  h3 {
    font-family: "SfPro-SemiBold";
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;
    width: 320px;
    color: #FFFFFF;
  }
}