.media-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .media-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    h2 {
      color: #736DFA;
      font-size: 12px;
      font-family: "SfPro-SemiBold";
      line-height: 15px;
    }

    h3 {
      color: #FFFFFF;
      font-size: 24px;
      font-family: "SfPro-SemiBold";
      line-height: 32px;
    }

    p {
      color: #FFFFFF;
      font-size: 16px;
      font-family: "SfPro-Light";
      line-height: 23px;
      width: 480px;
      letter-spacing: 0.035em;
    }

    a {
      text-align: center;
      text-decoration: none;
      font-family: "SfPro-Regular";
      font-size: 12px;
      text-transform: uppercase;
      color: #FFFFFF;
      background-color: var(--primary-colorC);
      padding: 10px 0px;
      border-radius: 10px;
      width: 245px;
    }

  }

  .media-content {

    .media-video {
      position: relative;
    
      button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        cursor: pointer;
        background: transparent;
        border: none;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 0.25);
      }
    
      video {
        width: 500px;
        height: 280px;
        border-radius: 10px;
      }
    }
  }
}

@media(max-width: 1005px) {
  .media-container {
    flex-direction: column;
    align-items: center;
    gap: 60px;

    &:nth-child(even) {
      flex-direction: column;
    }

    .media-info {
      align-items: center;
    }
  }
}

// Responsive
@media(max-width: 512px) {
  .media-container {

    .media-info {

      p {
        width: 95%;
      }
    }

    .media-content {
      display: flex;
      justify-content: center;

      .media-image {
        width: 95%;
      }

      .media-video {
        width: 95%;
        max-width: 500px;
        margin: 0 auto;

        video {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}